<a href="https://colab.research.google.com/github/sohdacafe/cheat_sheet/blob/main/pandas_cheat_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
''' 
データの読み込み : pd.read_csv(), df.head(), df.tail()
データの状態を確認 : df.shape, df.index, df.columns, df.dtypes, df.loc[], df.iloc[], df.query(), df.unique(), df.drop_duplicates(), df.describe()
データの整形 : df.set_index(), df.rename(), df.sort_values(), df.to_datetime(), df.sort_index(), df.resample(), df.apply(), pd.cut()
データの欠損状態 : df.isnull(), df.any()
値の置き換え・削除 : df.fillna(), df.dropna(), df.replace(), df.mask(), df.drop()
変数の前処理 : pd.get_dummies()
'''

' \nデータの読み込み : pd.read_csv(), df.head(), df.tail()\nデータの状態を確認 : df.shape, df.index, df.columns, df.dtypes, df.loc[], df.iloc[], df.query(), df.unique(), df.drop_duplicates(), df.describe()\nデータの整形 : df.set_index(), df.rename(), df.sort_values(), df.to_datetime(), df.sort_index(), df.resample(), df.apply(), pd.cut()\nデータの欠損状態 : df.isnull(), df.any()\n値の置き換え・削除 : df.fillna(), df.dropna(), df.replace(), df.mask(), df.drop()\n変数の前処理 : pd.get_dummies()\n'

In [6]:
file_name = '/iris.csv'
df = pd.read_csv(file_name)

In [7]:
df.head(3)

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0

[3 rows x 5 columns]

In [8]:
# headerを飛ばして読み込み
df2 = pd.read_csv(file_name, header=1)
df2.head(3)

   5.1  3.5  1.4  0.2  0
0  4.9  3.0  1.4  0.2  0
1  4.7  3.2  1.3  0.2  0
2  4.6  3.1  1.5  0.2  0

In [9]:
# 四捨五入して桁数表示を指定、統計量表示
pd.options.display.precision =3
df.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)   target
count            150.000           150.000  ...           150.000  150.000
mean               5.843             3.057  ...             1.199    1.000
std                0.828             0.436  ...             0.762    0.819
min                4.300             2.000  ...             0.100    0.000
25%                5.100             2.800  ...             0.300    0.000
50%                5.800             3.000  ...             1.300    1.000
75%                6.400             3.300  ...             1.800    2.000
max                7.900             4.400  ...             2.500    2.000

[8 rows x 5 columns]

In [27]:
# 種別ごとの違いについて集計
df[['sepal length (cm)','target']].groupby('target').describe()

       sepal length (cm)
                   count   mean    std  min    25%  50%  75%  max
target
0                   50.0  5.006  0.352  4.3  4.800  5.0  5.2  5.8
1                   50.0  5.936  0.516  4.9  5.600  5.9  6.3  7.0
2                   50.0  6.588  0.636  4.9  6.225  6.5  6.9  7.9

In [10]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

(150, 5)

In [11]:
# カラム名表示
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [12]:
# カラム列の抜き出し(任意の列の取り出し)
df_spred1 = df[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']]

In [13]:
df_spred1

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [14]:
X = {}
for i in range(4):
  X[i] = df.iloc[:, i:i+1]

In [15]:
X[1].head()

   sepal width (cm)
0               3.5
1               3.0
2               3.2
3               3.1
4               3.6

In [16]:
# 列を抽出
df_spred2 = df.iloc[:, 0:2]
df_spred2.head()

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1
4                5.0               3.6

In [17]:
#ピンポイントで行、列を抜き出し値場合
df_spred3 = df.iloc[:, [0,1,4]]
df_spred3.head()

   sepal length (cm)  sepal width (cm)  target
0                5.1               3.5       0
1                4.9               3.0       0
2                4.7               3.2       0
3                4.6               3.1       0
4                5.0               3.6       0

In [18]:
#カラム指定で列を削除する場合
df_spred4 = df.drop('petal width (cm)', axis=1)
df_spred4.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  target
0                5.1               3.5                1.4       0
1                4.9               3.0                1.4       0
2                4.7               3.2                1.3       0
3                4.6               3.1                1.5       0
4                5.0               3.6                1.4       0

In [19]:
# 条件を指定して抽出
# df_spred5 = df[df['target'] == 2]
df_spred5 = df[df['target'] > 1]
df_spred5.head()

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
100                6.3               3.3  ...               2.5       2
101                5.8               2.7  ...               1.9       2
102                7.1               3.0  ...               2.1       2
103                6.3               2.9  ...               1.8       2
104                6.5               3.0  ...               2.2       2

[5 rows x 5 columns]

In [20]:
# インデックス指定で取り出し
df.loc[100]

sepal length (cm)    6.3
sepal width (cm)     3.3
petal length (cm)    6.0
petal width (cm)     2.5
target               2.0
Name: 100, dtype: float64

In [21]:
# インデックス、カラム名指定で取り出し
df.loc[100, 'sepal length (cm)']

6.3

In [22]:
# インデックス、カラム番号指定で取り出し
df.iloc[[1,2,4],[0,2]]

   sepal length (cm)  petal length (cm)
1                4.9                1.4
2                4.7                1.3
4                5.0                1.4

In [23]:
# インデックス範囲指定で取り出し
df.iloc[1:5, 2:5]

   petal length (cm)  petal width (cm)  target
1                1.4               0.2       0
2                1.3               0.2       0
3                1.5               0.2       0
4                1.4               0.2       0